{{#if stories.items}}
  <h2>Stories</h2>
  <table class="table table-condensed" style="text-align: left;">
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
    {{#each stories.items}}
      <tr>
        <td><a href="/story/{{resurceToId this.resourceURI}}">{{this.name}}</a></td>
        <td>{{this.type}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}
