<div class="col-md-12 text-center transparent border-radius margin-bottom">
  <img src="{{marvelThumb character.thumbnail}}" id="character-thub">
  <h1>{{character.name}}</h1>
  <p>{{character.description}}</p>
  {{> stories character}}
  <hr>
</div>
