<div class="col-md-12 transparent-col">
  {{#each character}}
     <div class="col-md-4 text-center character-items">
       <a href="/character/{{this.id}}">{{this.name}}</a>
       <p><img src="{{this.thumbnail.path}}/portrait_large.jpg" alt="{{this.name}}"></p>
    </div>
   {{/each}}
 </div>
