<div class="character-box col-md-8 text-center transparent  margin-bottom">
  <img src="{{marvelThumb character.thumbnail}}" id="character-thum">
  <h1>{{character.name}}</h1>
  <p>{{character.description}}</p>
</div>
<div class="character-box col-md-4 text-center transarent-light  margin-bottom">
  {{> stories character}}
</div>
