.characters-items {
  background: transparent;
  margin-bottom: 0px;
  padding: 5px;
  
}

.characters-items:first-child {
}
.characters-items img {
  width: 120px;
	height: 120px;
	border-radius: 60px;
	-webkit-border-adius: 60px;
	-moz-border-radius: 60px;
  margin-top: 10px;
  -webkit-box-shadow: inset -2px 2px 5px -1px rgba(0,0,0,0.65);
  -moz-box-shadow: inset -2px 2px 5px -1px rgba(0,0,0,0.65);
  box-shadow: inset -2px 2px 5px -1px rgba(0,0,0,0.65);
}
