.border-radius {
  border-radius: 5px;
}
.spacing {
  background-color: transparent;
  border-radius:5px;
  padding: 5px;
}
.transparent {
  background: rgb(0, 0, 0) !important;
  background: rgba(0, 0, 0, .5) !important;
}
.transarent-light {
  background: rgb(0, 0, 0) !important;
  background: rgba(59, 59, 59, 0.5) !important;
}
.transparent-col {
  border-radius: 3px;
  padding: 10px;
}
.a-style {
  font-family: 'Bangers', cursive;
  text-decoration: none;
  color: white;
  font-size: 16pt;
  text-transform: uppercase;
}
.border-radius {
  border-radius: 3px;
}


.col-centered {
    float: none;
    margin: 0 auto;
}
